
#aguarde {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(50, 50, 50, 0.15);
}

#aguarde > img {
    width: 20%;
    margin: 10% 40% 5%;
}

#aguarde > p {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}